<%- include ("../includes/head")  %> 
<body>
    <%- include ("../includes/nav")  %> 
<h1>Perfil</h1>
<form action="/users/logout" method="post">
      <button type="submit">Logout</button>
</form>
</body>
</html>