<%- include ("../includes/head")  %> 
<body>
    <%- include ("../includes/nav")  %> 
<h1>Register</h1>
<form action="/users/" method="post">
    <label for="email">
        <i class="fas fa-user"></i>
        <input type="email" name="email" id="email">
    </label>
    <label for="password"><i class="fas fa-key"></i>
        <input type="password" name="password" id="password">
    </label>
    <button type="submit">Save</button>


</form>
 <% if (locals.errors && errors.email) { %>
 <p><%= errors.email.msg %> </p>
<% } %>

<% if (locals.errors && errors.password) { %>
    <p><%= errors.password.msg %> </p>
   <% } %>
</body>
</html>